.singleCourseBg {
    width: 100%;
    background: url(../../assets/SingleCourseImg/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0px;
}